/* ---------------------------------------------------------------------
   15 - All Proporities  , Preloader Section
   25-  Change Custom Scroll Bar
   46 - Header Section Navigation Bar
   72 - Banner Slide Show Section
  117 - Introduce Yourself Section - Introduce Our Shop
  255 - Pharmachy Box Gallery
  332 - Treatments Section Bio 
  381 - About Planex Section
  409 - World Best Famous Medical Section
  475 - How It Works Section
  547 - Team Of Consultants Section
  686 - Our Best Services
  882 - Our Blogs Section
  947 - Clients Say About Us
 1074 - Subscribe to our newsletter
 1112 - Footer Section
 1225 - Footer-Bottom Section
 1245 - ScrollTop Section
 1398 - Media Query Responsive
--------------------------------------------------------------------- */

/* All Proporities */
.btn-primary{
   background-color: #53a6d5!important;
   outline: none!important;
   border: none!important;
   border-radius: 0px!important;
}
/* All Proporities */

/* Preloader Section */

.preloader-active {
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
    z-index: 99999;
  }
  
  .preloader-active .preloader-area-wrap {
    background-color: #ffffff;
    position: absolute;
    left: 0;
    display: block;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999999;
  }
  
  .preloader-active .preloader-area-wrap .spinner div {
    background-color: #086AD8;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 15px;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }
  
  .preloader-active .preloader-area-wrap .spinner div.bounce1 {
    animation-delay: -0.32s;
  }
  
  .preloader-active .preloader-area-wrap .spinner div.bounce2 {
    animation-delay: -0.16s;
  }

  @keyframes sk-bouncedelay {
    0%,
    80%,
    100% {
      transform: scale(0);
    }
    40% {
      transform: scale(1);
    }
  }
  
  .preloader-area-wrap {
    display: none;
  }
  
  .open_tm_preloader {
    position: fixed;
    background-color: transparent;
    z-index: 9999;
    height: 100%;
    width: 100%;
    transition: .2s all ease;
    transition-delay: .5s;
  }
  
  .open_tm_preloader.loaded {
    opacity: 0;
    visibility: hidden;
  }
  
  .open_tm_preloader.loaded:before, .open_tm_preloader.loaded:after {
    width: 0%;
  }
  
  .open_tm_preloader:before, .open_tm_preloader:after {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    background-color: #fff;
    transition: all 0.5s ease-in-out;
  }
  
  .open_tm_preloader:before {
    top: 0;
    left: 0;
  }
  
  .open_tm_preloader:after {
    bottom: 0;
    right: 0;
  }

  /* Preloader Section */

  /* Adding BgColor to Navbar when it is scrolling */

  .nav-scroll {
    background: linear-gradient(to right,#e8931e,#e7601e);
    border-bottom: 1px solid rgba(12, 12, 12, 0.04);
    min-height: 60px;
    line-height: 60px;
    position: fixed!important;
    top: 0!important;
    left: 0!important;
    width: 100%!important;
    transition: all .5s;
    z-index: 9999999999999999;
  }
  .nav-scroll.navbar{
      margin: 0px auto;
  }
 .nav-scroll .navbar-brand {
    color: #212121!important;
    margin-left: 15px;
}
.nav-scroll .navbar-nav .nav-link {
    color: #111!important;
    border: none;
}  
.nav-scroll .navbar-nav,.nav-scroll .form-inline{
    margin-right: 15px;
}

/* Adding BgColor to Navbar when it is scrolling */


/* Change Custom Scroll Bar */
::-webkit-scrollbar-thumb, ::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
   }
  
  ::-webkit-scrollbar {
     width: 8px;
   }
  
  ::-webkit-scrollbar-thumb {
    background-color: #5c8065; 
   }
  
  ::-webkit-scrollbar-track {
    background-color: white; 
   }

/* Change Custom Scroll Bar */

/* Header Section Navigation Bar */
#top{
    padding: 10px 0px;
    background-color: #fff;
    border-bottom: solid 1px #53a6d5;
}
#top .navbar .navbar-collapse .navbar-nav{
    padding: 0px 25px;
}
#top .navbar .navbar-collapse .navbar-nav .nav-item{
    padding: 0px 6px;
}
/* #top .navbar .navbar-collapse .navbar-nav .nav-item:hover .nav-link{
    color: #53a6d5;
    border: solid 1px #53a6d5;
} */
#top .navbar .navbar-collapse .navbar-nav .nav-item.hoverActive .nav-link{
    color: #53a6d5;
    border: solid 1px #53a6d5;
}
#top .navbar .navbar-collapse .navbar-nav .nav-item .nav-link{
    font-size: 18px;
}
.navbar-light .navbar-nav .active{
    color: #3383b1!important;
}
/* Header Section Navigation Bar */


/* Banner Slide Show Section */
.banner{
    width: 100%;
    height: 547px;
    padding-top: 133px;
    background: url(../img/slider-01.jpg) center top no-repeat;
    background-size: cover;
}
.banner .show_banner h1{
    margin: 0;
    font-size: 48px;
    color: #53a6d5;
    font-weight: 600;
    font-style: oblique;
}
.banner .show_banner h2{
    margin: 10px 0px;
    font-size: 22px;
    color: #757575;
    font-weight: 400;
    font-style: oblique;
}
.banner .show_banner p{
    padding: 10px 0px;
    font-size: 17px;
    font-weight: 300;
    font-style: oblique;
}
.banner .show_banner a{
    margin-top: 15px;
    font-size: 13px;
    padding: 15px 30px;
    box-shadow: 1px 3px 0 #043A59;
    font-weight: 600;
    text-transform: uppercase;
    outline: none;
}
.banner .show_banner a i{
    margin-left: 3px;
    font-size: 13px;
    font-weight: 600;
}

/* Banner Slide Show Section */

/* Introduce Yourself Section - Introduce Our Shop */

.introduce{
    background: #2b96cc;
}
.introduce .newletter-section{
    margin-top: 15%;
}
.introduce .newletter-section .title{
    margin-bottom: 15px;
}
.introduce .newletter-section .title i{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    float: left;
}
.introduce .newletter-section .title h2{
    position: relative;
    top: 5px;
    left: 12px;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}
.introduce .newletter-section .content{ 
    margin-bottom: 30px;
}
.introduce .newletter-section .content form .form-group{
    width: 60%;
    float: left;
}
.introduce .newletter-section .content form .form-group input{
    background-color: transparent;
    padding: 20px 10px;
    height: 48px;
    border: solid 2px #fff;
    box-shadow: none;
    border-radius: 0px;
}


/* .form-control{
    display: block;
    color: #fff!important;
} */

.introduce .newletter-section .content form button{
    margin-top: 0;
    margin-left: 20px;
    padding: 10px 10px;
    background: #2b96cc!important;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 0px;
}
.introduce .buy_from_us{
    width: 100%;
    position: absolute;
    top: -13px;
    bottom: 0px;
    padding: 40px 13px;
    box-shadow: 0 2px 3px #ccc;
    background: #fff;
}
.introduce .buy_from_us h2{
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
    font-weight: 800;
    color: #676767db;
    font-style: oblique;
}
.introduce .buy_from_us .why_buy_from_us{
    margin-right: 1px;
}
.introduce .buy_from_us .why_buy_from_us ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.introduce .buy_from_us .why_buy_from_us ul li{
    display: block;
    width: 71%;
    padding: 10px 0px;
    border-bottom: solid 1px #f3f3f3;
    font-style: oblique;
}
.introduce .buy_from_us .why_buy_from_us ul li i{
    color: #2b96cc;
    margin-right: 5px;
    font-size: 14px;
}
.introduce .buy_from_us .why_buy_from_us_photo{
    position: absolute;
    top: 80px;
    right: 17px;
}
.introduce .who_we_are_main{
    margin-top: 5%;
    margin-left: 15%;
}
.introduce .who_we_are_main .who_we_are_title i{
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    float: left;
}
.introduce .who_we_are_main .who_we_are_title h2{
    position: relative;
    top: 8px;
    left: 12px;
    font-size: 22px;
    font-weight: 600;
    color: #fff;
}
.introduce .who_we_are_main .who_we_are_content{
    margin-top: 25px;
}
.introduce .who_we_are_main .who_we_are_content ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.introduce .who_we_are_main .who_we_are_content ul li{
    display: block;
    width: 71%;
    padding: 5px 0px;
    color: #fff;
    font-style: oblique;
}
.introduce .who_we_are_main .who_we_are_content ul li i{
    color: #fff;
    margin-right: 5px;
    font-size: 14px;
}
/* Introduce Yourself Section - Introduce Our Shop */

/* Pharmachy Box Gallery */
.pharmachy_box_gallery{
    padding: 50px 0px;
    text-align: center;
}
.pharmachy_box_gallery .box_item{
    position: relative;
    width: auto;
    margin: 0 -12px;
    cursor: pointer;
}
.pharmachy_box_gallery .box_item:hover .overlay{
    height: 100%;
    opacity: 1;
}
.pharmachy_box_gallery .box_item:hover .box_item_title{
    opacity: 0;
}
.pharmachy_box_gallery .box_item .box_item_title{
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: rgba(18, 119, 170, 0.6);
    color: #fff;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 0px;
    opacity: 1;
}
.pharmachy_box_gallery .box_item .box_item_title h3{
    font-size: 30px;
    line-height: 35px;
}
.pharmachy_box_gallery .box_item .overlay{
    position: absolute;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 0;
    background: rgba(18, 119, 170, 0.6);
    opacity: 0;
    transition: .5s ease-in-out;
}
.pharmachy_box_gallery .box_item .overlay .hover_text{
    position: relative;
    top: 5%;
    left: 5%;
    transform: translate(-5%, 5%);
}
.pharmachy_box_gallery .box_item .overlay .hover_text h3{
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 20px;
}
.pharmachy_box_gallery .box_item .overlay .hover_text p{
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
    padding: 0px 23px;
}
.pharmachy_box_gallery .box_item .overlay .hover_text  a{
    display: inline-block;
    background-color: #fff;
    padding: 14px 20px;
    margin: 16px;
    font-size: 16px;
    color: #2b96cc;
    text-decoration: none;
}

/* Pharmachy Box Gallery */

/* Treatments Section Bio */

.treatments{
    padding: 50px 0px;
    text-align: center;
}
.treatments .treat_title{
    margin-bottom: 35px;
}
.treatments .treat_title h2{
    font-size: 20px;
    font-weight: 500;
    color: #2b96cc;
}
.treatments .treat_content{
    margin: 3px 0px;
}
.treatments .treat_content a .treat_div_block{
    margin: 0 -13px 4px -13px;
    padding: 17px 25px;
    background-color: #1277aa;
}
.treatments .treat_content a .treat_div_block img{
    position: relative;
    top: 10px;
    float: left;
    margin: 0 10px 0 0;
}
.treatments .treat_content a .treat_div_block h2{
    position: relative;
    top: 7px;
    float: left;
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #fff;
    font-weight: 400;
}
.treatments .treat_content a .treat_div_block i{
    color: #fff;
    position: relative;
    top: 7px;
    left: 55px;
    margin: 0px;
    padding: 0px;
}

/* Treatments Section Bio */

/* About Planex Section */
.about_planex{
    padding: 35px 0px;
    text-align: center;
}
.about_planex .planex_div_main h2{
    color: #2b96cc;
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 25px;
}
.about_planex .planex_div_main p{
    padding: 0px;
    margin: 30px 16px;
    font-size: 14px;
    color: #333;
    font-weight: 400;
    font-style: oblique;
}
.about_planex .planex_div_main a{
    margin-top: 15px;
    background-color: #1277aa!important;
    text-transform: uppercase;
    font-size: 14px;
    padding: 10px 20px;
}
/* About Planex Section */

/* World Best Famous Medical Section */

.famous_medical{
    padding: 35px 0px;
    text-align: center;
    background: #f1f1f1;
}
.famous_medical .context{
    padding-top: 30px;
    padding-bottom: 10px;
}
.famous_medical .context .sub_title{
    padding-right: 25%;
}
.famous_medical .context .sub_title::after{
    left: 15px;
}
.famous_medical .search_title{
    font-size: 40px;
    margin-right: 30px;
    color: #2f3945;
    font-weight: 900;
    line-height: 60px;
    text-align: left;
    padding-bottom: 40px;
}
.famous_medical .search_title .quality{
    color: #e7601e;
}
.famous_medical .famous_text{
    margin-top: 30px;
    margin-left: 10px;
    text-align: left;
    line-height: 28px;
    padding-bottom: 40px;
    color: rgba(47,57,69,.7);
    font-family: Poppins,sans-serif;
}
.famous_medical .number_item img{
    float: left;
    opacity: .4;
}
.famous_medical .number_item .number_text{
    float: left;
    margin-left: 15px;
}
.famous_medical .number_item .number_text h4{
    font-weight: 900;
    font-size: 42px;
    margin: 0px;
    text-align: left;
}
.famous_medical .number_item .number_text p{
    color: rgba(47,57,69,.7);
    font-family: Poppins,sans-serif;
}

/* World Best Famous Medical Section */

/* How It Works Section */
.works{
    margin: 0;
    padding: 75px 0px;
    background: #53a6d5;
    color: #fff;
}
.works .how_it_work_main{
    text-align: center;
    margin: 0 0 45px 0;
}
.works .how_it_work_main h2{
    font-size: 35px;
    margin: 0;
}
.works .how_it_work_main p{
    font-size: 19px;
    font-style: oblique;
}
.works .border-dashed{
    width: 72%;
    position: relative;
    top: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: dashed 3px #c3e9ff;
}
.works .how_it_work_box{
    display: inline-block;
    margin: 0;
    padding: 0;
    text-align: center;
}
.works .how_it_work_box .how_it_work_title{
    width: 70px;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    border-radius: 100px;
    background: #496e99;
    text-transform: uppercase;
    font-weight: bold;
}
.works .how_it_work_box .how_it_work_title p{
    padding: 17px 0px;
    line-height: 18px;
}
.works .how_it_work_box .how_it_work_title p span{
    font-size: 22px;
}
.works .how_it_work_box .how_it_work_content{
    width: 160px;
    height: 160px;
    padding: 35px 0px;
    margin: 45px auto;
    border-radius: 100px;
    background: #fff;
    text-align: center;
    border: solid 8px #70c3f2;
}
.works .how_it_work_box .how_it_work_footer h2{
    font-size: 27px;
    font-weight: 300;
}
.works .how_it_work_box .how_it_work_footer p{
    font-size: 14px;
    font-weight: 400;
}
/* How It Works Section */

/* Team Of Consultants Section */

.consultant_team .sub_consultant_team{
    padding: 70px 45px;
}
.consultant_team .sub_consultant_team .context .sub_title,.famous_medical .context .sub_title,.client_say .context .sub_title{
    position: relative;
    padding-bottom: 0px;
    padding-left: 55px;
    color: rgba(47,57,69,.4);
    font-size: 20px;
}
.consultant_team .sub_consultant_team .context .sub_title::after,.famous_medical .context .sub_title::after,.client_say .context .sub_title::after{
    content: "";
    display: block;
    position: absolute;
    width: 45px;
    height: 2px;
    background: #e7601e;
    top: 11px;
    left: 5px;
}

.consultant_team .sub_consultant_team .context .title{
    font-size: 50px;
    color: #2f3945;
    font-weight: 900;
    padding: 0;
}
.consultant_team .sub_consultant_team .context .text{
    color: rgba(47,57,69,.7);
    padding-left: 5px;
    font-size: 16px;
    font-weight: 400;
}
.sub_consultant_team .team_member .photo_team{
    box-shadow: 5px 10px #ffffff;
    height: 365px;
    position: relative;
    cursor: pointer;
}
.sub_consultant_team .team_member .photo_team::before{
    content: '';
    position: absolute;
    display: block;
    top: 13%;
    border: 45px solid #4042ef;
    width: 350px;
    height: 325px;
    border-radius: 50%;
    z-index: 0;
    transition: ease .3s;
    transition-duration: .5s;
}
.sub_consultant_team .team_member:hover .photo_team::before{
      top: 14%;
      border-color: #e7601e;
}
.sub_consultant_team .team_member .photo_team .social_item_team{
    text-align: center;
    position: absolute;
    bottom: -10px;
    left: 17%;
    z-index: 2;
    transition: ease .3s;
    transition-duration: .5s;
    opacity: 0;
}
.sub_consultant_team .team_member:hover .photo_team .social_item_team{
    bottom: 0px;
    opacity: 1;
}
.sub_consultant_team .team_member .photo_team .social_item_team ul{
    list-style-type: none;
}
.sub_consultant_team .team_member .photo_team .social_item_team ul li{
    display: inline-block;
}
.sub_consultant_team .team_member .photo_team .social_item_team ul li a i {
    font-size: 24px;
    background: #fff;
    padding: 10px;
    border-radius: 50%;
    transition: color .5s,background .5s;
    cursor: pointer;
}
.sub_consultant_team .team_member .photo_team .social_item_team ul li a i:hover{
    background: #e8931e;
    color: #ffffff;
}
.sub_consultant_team .team_member .photo_team img{
    max-width: 100%;
    position: relative;
    z-index: 1;
}
.sub_consultant_team .team_member .photo_team .arrow-item{
    position: absolute;
    top: 13%;
    right: 7%;
    width: 70px;
    height: 70px;
    background: linear-gradient(to right,#e8931e,#e7601e);
    border-radius: 50%;
    text-align: center;
    padding-bottom: 65px;
    line-height: 70px;
}
.sub_consultant_team .team_member .teamMember_content{
    text-align: center;
    background: #f5f5f5;
    padding: 35px;
    box-shadow: 2px 2px #f5f5f5;
}
.sub_consultant_team .team_member .teamMember_content h3 a{
    color: #2f3945;
    font-weight: 900;
    font-size: 20px;
    text-decoration: none;
}
.sub_consultant_team .team_member .teamMember_content h4{
    font-size: 17px;
    color: #e7601e;
    font-weight: 400;
    line-height: 20px;
}

/* Team Of Consultants Section */


/* Our Best Services */
.best_services{
    background: url(../img/service-bg.jpg) top center no-repeat;
    background-size: cover;
}
.best_services .sub_services{
    background: rgba(64,66,239,.9);
    padding: 70px 45px;
}
.context{
    padding-bottom: 30px;
}
.context .sub_title{
    position: relative;
    padding-bottom: 20px;
    padding-left: 70px;
    color: rgba(255,255,255,.4);
    font-size: 19px;
}
.context .sub_title::after{
    content: "";
    display: block;
    position: absolute;
    width: 45px;
    height: 2px;
    background: #e7601e;
    top: 11px;
    left: 15px;
}
.context .title{
    font-size: 45px;
    color: #fff;
    font-weight: 900;
    padding-bottom: 15px;
}
.context .title span{
    color: #e7601e;
}
.context .text{
    color: rgba(255,255,255,.7);
    padding-left: 5px;
    font-size: 17.6px;
}
.best_services .photo{
    position: relative;
    width: 100%;
    cursor: pointer;
    overflow: hidden;
}
.best_services .photo .overlay{
    opacity: 0;
    transition: all .5s;
}
.item:hover .photo .overlay{
    opacity: .8;
    position: absolute;
    width: 555.75px;
    height: 442.15px;
    background: #e7601e;
    z-index: 2;
}
.photo #doctor{
    max-width: 100%;
    transition: all .5s;
}
.item:hover .photo #doctor{
    transform: scale(1.3);
    z-index: 1;
}
.best_services .photo .all_icon{
    position: absolute;
    top: 20px;
    right: 20px;
    transition: all .3s;
}
.item:hover .photo .all_icon{
    padding: 18px 24px;
    z-index: 2;
}
.item{
    position: relative;
}
.best_services .content{
    position: absolute;
    padding-top: 23px;
    padding-bottom: 10px;
    bottom: -45px;
    right: 30px;
    background: #eaeaea;
    width: 90%;
    z-index: 4;
    cursor: pointer;
    overflow: hidden;
}
.content .con_title{
    margin-left: 40px;
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: bold;
    font-style: oblique;
}
.content p{
    margin-left: 25px;
    font-size: 17px;
    font-weight: 400;
    font-style: oblique;
    color: grey;
}
.read_more{
    position: relative;
    display: inline-block;
    margin: 0px 25px;
    text-decoration: none;
    background: #fff;
    color: #e7601e;
    padding: 10px 20px;
    border-radius: 100px;
    text-align: center;
    line-height: 17px;
    outline: none;
    border: none;
}
.read_more:hover{
    background-color: #e7601e;
    background: linear-gradient(to right,#e7601e,#e8931e);
    color: #fff;
    overflow: hidden;
    border: none;
    box-shadow: 0 8px 15px rgba(0,0,0,.1);
    transition-duration: .1s;
    transition: all .5s;
    text-decoration: none;
}
.read_more::before{
    content: "";
    position: absolute;
    display: block;
    width: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #d4d4d4;
    opacity: 0.6;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    transition-duration: .1s;
    transition: all .5s;
}
.read_more::after{
    content: "";
    position: absolute;
    display: block;
    width: 50%;
    height: 100%;
    top: 0;
    right: 0;
    background: #fff;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    opacity: .3;
    transition-duration: .1s;
    transition: all .5s;
}
.read_more:hover::before , .read_more:hover::after{
    width: 0;
    background-color: #333;
    opacity: .1;
}
.read_more span{
    font-size: 12px;
}
.content img{
    position: absolute;
    right: -10%;
    bottom: -15%;
    opacity: .1;
}
.more_link{
    margin-top: 12%;
    text-align: center;
}
.more_link_spec{
    padding: 25px 50px;
    background:#e7601e;
    color: #fff;
}
.more_link_spec::before{
    content: "";
    background-color: rgba(193, 193, 193, 0.322);
}
.more_link_spec span{
    font-size: 18px;
}
/* Our Best Services */

/* Our Blogs Section */
.blogs{
    padding: 0;
    margin: 75px 0px;
}
.blogs .blog-title{
    text-align: center;
    margin: 0 0 35px 0;
}
.blogs .blog-title h2{
    color: #2b96cc;
    font-size: 30px;
    font-weight: 600;
}
.blogs .blog-date{
    display: inline-block;
    background: #555555;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 6px;
    margin-right: 3px;
}
.blogs .blog-date h3{
    margin: 0;
    padding: 0;
    font-size: 28px;
    font-weight: 800;
}
.blogs .blog-date p{
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 400;
    color: #cdd2d3;
}
.blogs .blog-content{
    display: inline-block;
    width: 86%;
    vertical-align: top;
}
.blogs .blog-content .blog-sub-content h2 a{
    display: block;
    color: #333;
    font-size: 16px;
    margin: 10px 0;
    font-weight: 700;
}
.blogs .blog-content .blog-sub-content p{
    font-size: 14px;
    font-weight: 400;
    color: #777777;
}
.blogs .blog-content .blog-sub-content p a{
    text-decoration: none;
}
.blogs .blog-content .blog-sub-content #blog_text{
    margin: 25px 0;
}

/* Our Blogs Section */

/* Clients Say About Us */

.client_say{
    padding: 95px 0px;
    background: #f1f1f1;
}
.client_say .client_say_photo{
    position: relative;
    margin-top: 25%;
}
.client_say .client_say_photo::after{
    content: '';
    position: absolute;
    border: 30px solid #4042ef;
    width: 180px;
    height: 180px;
    right: 4%;
    bottom: -18%;
    border-radius: 50%;
}
.client_say .client_say_photo::before{
    content: '';
    position: absolute;
    border: 20px solid #e7601e;
    width: 80px;
    height: 80px;
    top: 3%;
    left: 4%;
    border-radius: 50%;
}
.client_say .client_say_photo img{
    border-radius: 50%;
}
.client_say .context{
    margin-left: 5%;
}
.client_say .context .title{
    color: #333;
}

.client_say .testimonials{
    margin-left: 5%;
    position: relative;
    border: 2px dashed lightgrey;
    background: #000000;
    padding: 35px 35px;
}
.client_say .testimonials .slider{
    position: relative;
}
.client_say .testimonials .slider .slide{
    position: relative;
    display: none;
}
.client_say .testimonials .slider .slide.active{
    display: block;
    animation: slide 1s ease;
}
@keyframes slide{
    0%{
      opacity: 0;
      transform: translateX(-15px);
    }
    100%{
      opacity: 1;
      transform: translateX(0px);
    }
}
.client_say .testimonials .slider .slide::before{
    content: '';
    position: absolute;
    top: -13px;
    left: -2px;
    background-image: url(../img/quote.png);
    background-position: center left;
    background-repeat: no-repeat;
    height: 85px;
    width: 100px;
}
.client_say .testimonials .slider .slide p{
    color: #fff;
    font-size: 18px;
    word-spacing: 2px;
    font-weight: 700;
    margin-left: 12%;
}
.client_say .testimonials .slider .slide .slide_info{
    text-align: center;
    color: #fff;
}
.client_say .testimonials .slider .slide .slide_info h3{
    font-weight: 800;
    margin: 0px;
}
.client_say .testimonials .slider .slide .slide_info span.nationality{
    display: block;
    color: #25bf9c;
    font-size: 17px;
}
.client_say .testimonials .slider_iniciator{
    text-align: center;
    padding-top: 25px;
}
.client_say .testimonials .slider_iniciator img{
    display: inline-block;
    max-height: 80px;
    max-width: 80px;
    border-radius: 50%;
    cursor: pointer;
    border: 4px solid #ffffff;
    margin: 0px 8px;
    opacity: 0.2;
    transition: opacity 1s ease;
}
.client_say .testimonials .slider_iniciator img.active{
    opacity: 1;
}

/* Clients Say About Us */

/* Subscribe to our newsletter */

.newsletter-bg{
    padding: 19px 0px 12px 0px;
    background: #bfdded;
}
.newsletter-bg .newsletter-bg-text{
    padding: 0px;
    margin-top: 20px;
}
.newsletter-bg .newsletter-bg-text h3{
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
    font-style: oblique;
    color: #333;
}
.newsletter-bg .newsletter-contact-form{
    margin-top: 12px;
}
.newsletter-bg .newsletter-contact-form form .form-group{
    width: 70%;
    float: left;
}
.newsletter-bg .newsletter-contact-form form .form-group .form-control{
    padding: 20px 25px;
    border: 1px solid #2b96cc;
}
.newsletter-bg .newsletter-contact-form form .btn-submit{
    float: left;
    width: 26%;
    padding: 9px 16px;
    margin-left: -3px;
}

/* Subscribe to our newsletter */

/* Footer Section */

#bottom{
    background: #135c85;
    padding: 40px 0 20px 0;
}
#bottom .footer-form{
    padding: 0;
    margin: 0;
}
#bottom .footer-form .send_btn{
    font-size: 30px;
    font-weight: 600;
    padding: 10px 93px;
    text-align: center;
    background: #2586bd !important;
}
#bottom .footer-form .form-group{
    margin-bottom: 25px;
}
#bottom .footer-form .form-group .form-icon{
    display: inline-block;
    background: #fff;
    width: 38px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    border-right: 2px dotted #ccc;
}
#bottom .footer-form .form-group .form-icon.textareas{
    height: 104px;
    line-height: 104px;
}
#bottom .footer-form .form-group .form-control{
    float: right;
    width: 85%;
    padding: 16px 10px;
    border-radius: 0px;
    border: none;
    outline: none;
}
#bottom .footer-site-link .footer-link-title h2,#bottom .footer-contact .footer-link-title h2{
    position: relative;
    font-size: 19px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 10px;
}
#bottom .footer-site-link .footer-link-title h2::after,#bottom .footer-contact .footer-link-title h2::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 30px;
    background: #53a6d5;
}
#bottom .footer-site-link .footer-link-content .footer-menu{
    margin: 0;
    padding: 0;
    list-style: none;
}
#bottom .footer-site-link .footer-link-content .footer-menu li{
    color: #fff;
    text-transform: uppercase;
    padding-bottom: 5px;
}
#bottom .footer-quick-link{
    margin-left: 25%;
}
#bottom .footer-contact{
    margin-left: 20%;
}
#bottom .footer-contact .footer-contact-content p{
    color: #fff;
    font-size: 15px;
}
#bottom .footer-contact .footer-contact-content p span{
    color: #6ab9e6;
    font-size: 14px;
}
#bottom .footer-contact .footer-contact-content p a{
    color: #fff;
    text-decoration: none;
}
#bottom .footer-contact .footer-contact-content p a:hover{
    color: #6ab9e6;
}
#bottom .footer-contact .footer-social-links .footer-social-menu{
    margin: 0;
    padding: 0;
    list-style: none;
}
#bottom .footer-contact .footer-social-links .footer-social-menu li{
    display: inline-block;
    margin-right: 7px;
}
#bottom .footer-contact .footer-social-links .footer-social-menu li a{
    display: inline-block;
    color: #fff;
    background: #0c3d59;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
}
#bottom .footer-contact .footer-social-links .footer-social-menu li a:hover{
    color: #53a6d5;
}

/* Footer Section */

/* Footer-Bottom Section */

.footer-bottom{
    background: #135c85;
    border-top: 1px solid #1f6993;
    padding: 20px 0px;
}
.footer-bottom p{
    color: #6ab9e6;
    font-size: 14px;
    text-align: center;
    margin: 15px 0px;
}
.footer-bottom p a{
    color: #8dd0f5;
    text-decoration: none;
}

/* Footer-Bottom Section */

/* ScrollTop Section */
.button-top {
    position: fixed;
    bottom: -200px;
    right: 30px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: linear-gradient(to right,#e8931e,#e7601e);
    color: #fff;
    text-align: center !important;
    z-index: 99;
    font-size: 16px;
    transition: all 0.5s;
    cursor: pointer;
  }
  .button-show {
    bottom: 20px;
  }
/* ScrollTop Section */

/* Media Query Responsive */

@media screen and (max-width: 768px) {

    .navbar-collapse .navbar-nav{
        margin-top: 20px;
        margin-left: -20px !important;
    }
    .introduce .buy_from_us {
        position: static;
    }
    .introduce .who_we_are_main .who_we_are_title{
        margin-top: 30px;
    }
    .introduce .who_we_are_main .who_we_are_content{
        padding-bottom: 20px;
    }
    .introduce .who_we_are_main .who_we_are_content ul li{
        width: 75%;   
    }
    .introduce .newletter-section .title{
        margin-left: 55px;
        margin-bottom: 25px;
    }
    .pharmachy_box_gallery .box_item{
        margin-top: 30px;
    }
    .famous_medical .search_title{
        font-size: 25px;
        margin-bottom: 0px;
        padding-bottom: 20px;
        text-align: center;
    }
    .famous_medical .famous_text p{
        text-align: left;
        line-height: 21px;
        width: 90%;
    }
    .famous_medical .number_item {
        margin-left: 2%;
        margin-bottom: 5%;
    }
    .works .border-dashed{
        border: none;
    }
    .works .how_it_work_box .how_it_work_content{
        margin: 20px auto;
    }
    .works .how_it_work_box{
        margin-bottom: 25px;
    }
    .works .how_it_work_box .how_it_work_footer p {
        margin-top: 15px;
        padding: 0px 40px;
    }
    .sub_consultant_team .team_member{
        margin-bottom: 25px;
    }
    .blogs .blog-date,.blogs .blog-content .blog-sub-content a{
        margin-bottom: 10px;
    }
    .client_say .client_say_photo{
        margin-bottom: 25%;
    }
    .client_say .context .title{
        font-size: 35px;
    }
    .client_say .testimonials .slider .slide p{
        font-size: 12px;
        margin-left: 25%;
    }
    .client_say .testimonials .slider .slide::before{
        content: '';
        left: -20px;
    }
    #bottom .footer-site-link,#bottom .footer-quick-link,#bottom .footer-contact{
        margin-top: 25px;
    }
    #bottom .footer-quick-link,#bottom .footer-contact{
        margin-left: 0px;
    }
    #bottom .footer-form .form-group .form-icon{
        display: inline-block;
    }
    .best_services .sub_services .item{
        margin-bottom: 50%;
    }
    .best_services .sub_services .content{
        top: 60%;
        left: 30px;
        width: 95%;
        padding-bottom: 42%;
    }
    .best_services .sub_services .content .con_title{
        font-size: 14px;
        margin-top: 0px;
    }
    .best_services .sub_services .content p{
        font-size: 9px;
    }
    .best_services .sub_services .content .read_more{
        padding: 5px 15px;
    }
    .best_services .sub_services .more_link .read_more{
        padding: 20px 15px;
        margin-top: 0px;
    }
  }

  
@media screen and (min-width: 320px){
    .navbar-brand{
        margin-left: -10px!important;
    }
    .navbar-collapse .navbar-nav{
        margin-left: -30px !important;
    }
    .form-inline{
        margin-left: 0px!important;
    }
    .pharmachy_box_gallery .box_item .box_item_title{
        width: 92.5%;
        margin: 0px 13px auto;
    }
    .pharmachy_box_gallery .box_item:hover .overlay{
        width: 92%;
        margin: 0px auto;
    }
    .treatments .treat_content a .treat_div_block i{
        left: 65px;
    }
    
    .consultant_team .sub_consultant_team .context .sub_title{
        font-size: 16px;
        padding-left: 25px;
    }
    .consultant_team .sub_consultant_team .context .sub_title::after{
        content: '';
        left: -30px;
    }
    .consultant_team .sub_consultant_team .context .title{
        font-size: 35px;
    }
    .sub_consultant_team .team_member .photo_team{
        height: 190px;
    }
    .sub_consultant_team .team_member .photo_team::before{
        content: '';
        border: 15px solid #4042ef;
        width: 200px;
        height: 165px;
        right: -1%;
    }
    .sub_consultant_team .team_member .photo_team .arrow-item{
        right: 2%;
        width: 55px;
        height: 55px;
        line-height: 60px;
    }
    .sub_consultant_team .team_member .photo_team .social_item_team{
        left: -7%;
    }
    .sub_consultant_team .team_member .photo_team .social_item_team ul li a i{
        padding:6px;
    }
    #bottom .footer-form .form-group .form-icon{
        width: 43px;
    }
}

@media screen and (min-width: 350px){
    .pharmachy_box_gallery .box_item .box_item_title{
        width: 81%;
        margin: 0px 34px auto;
    }
    .pharmachy_box_gallery .box_item:hover .overlay{
        width: 81%;
        margin: 0px auto;
    }
    .treatments .treat_content a .treat_div_block i{
        left: 85px;
    }
    
    .consultant_team .sub_consultant_team .context .sub_title{
        font-size: 16px;
        padding-left: 25px;
    }
    .consultant_team .sub_consultant_team .context .sub_title::after{
        content: '';
        left: -30px;
    }
    .consultant_team .sub_consultant_team .context .title{
        font-size: 35px;
    }
    .sub_consultant_team .team_member .photo_team{
        height: 240px;
    }
    .sub_consultant_team .team_member .photo_team::before{
        content: '';
        border: 15px solid #4042ef;
        width: 200px;
        height: 165px;
        right: 7%;
    }
    .sub_consultant_team .team_member .photo_team .arrow-item{
        right: 6%;
        width: 55px;
        height: 55px;
        line-height: 60px;
    }
    .sub_consultant_team .team_member .photo_team .social_item_team{
        left: 2%;
    }
    .sub_consultant_team .team_member .photo_team .social_item_team ul li a i{
        padding:6px;
    }
    #bottom .footer-form .form-group .form-icon{
        width: 49px;
    }
}
@media screen and (min-width: 370px){
    .sub_consultant_team .team_member .photo_team{
        height: 260px;
    }
    .sub_consultant_team .team_member .photo_team::before{
        content: '';
        right: 15%;
    }
    .sub_consultant_team .team_member .photo_team .arrow-item{
        right: 10%;
    }
    #bottom .footer-form .form-group .form-icon{
        width: 51px;
    }
}

@media screen and (min-width: 400px){
    .pharmachy_box_gallery .box_item .box_item_title{
        width: 71%;
        margin: 0px 60px auto;
    }
    .pharmachy_box_gallery .box_item:hover .overlay{
        width: 71%;
        margin: 0px auto;
    }
    .treatments .treat_content a .treat_div_block i{
        left: 105px;
    }
    .sub_consultant_team .team_member .photo_team{
        height: 300px;
    }
    .sub_consultant_team .team_member .photo_team::before{
        content: '';
        border: 30px solid #4042ef;
        width: 250px;
        height: 215px;
        right: 7%;
    }
    .sub_consultant_team .team_member .photo_team .arrow-item{
        width: 55px;
        height: 55px;
        line-height: 60px;
        right: 9%;
    }
    .sub_consultant_team .team_member .photo_team .social_item_team{
        left: 10%;
    }
    #bottom .footer-form .form-group .form-icon{
        width: 56px;
    }
}
@media screen and (min-width: 440px){
    .pharmachy_box_gallery .box_item .box_item_title{
        width: 65%;
        margin: 0px 77px auto;
    }
    .pharmachy_box_gallery .box_item:hover .overlay{
        width: 67%;
        margin: 0px auto;
    }
    .treatments .treat_content a .treat_div_block i{
        left: 125px;
    }
    .sub_consultant_team .team_member .photo_team{
        height: 340px;
    }
    .sub_consultant_team .team_member .photo_team::before{
        content: '';
        border: 20px solid #4042ef;
        width: 260px;
        height: 215px;
        right: 10%;
    }
    .sub_consultant_team .team_member .photo_team .arrow-item{
        width: 55px;
        height: 55px;
        line-height: 60px;
        right: 13%;
    }
    .sub_consultant_team .team_member .photo_team .social_item_team{
        left: 15%;
    }
}
@media screen and (min-width: 767px){
    .client_say .client_say_photo::before{
        border: 10px solid #e7601e;
        width: 60px;
        height: 60px;
    }
    .client_say .client_say_photo::after{
        border: 15px solid #4042ef;
        width: 130px;
        height: 130px;
    }
    #bottom .footer-form .form-group .form-icon{
        width: 40px;
    }
    #bottom .footer-form .form-group .form-control {   
        width: 73%;
    }
    #bottom .footer-form button{
        margin-top: 25px;
    }
}
@media screen and (min-width: 1020px){
    .navbar-brand{
        margin-left: auto!important;
    }
    .navbar-collapse .navbar-nav{
        margin-left: auto!important;
    }
    .form-inline{
        margin-left: auto!important;
    }
    .pharmachy_box_gallery .box_item .box_item_title{
        width: 100%;
        margin: 0 auto;
    }
    .pharmachy_box_gallery .box_item:hover .overlay{
        width: 100%;
        margin: 0 auto;
    }
    .treatments .treat_content a .treat_div_block i{
        left: 40px;
    }
    .client_say .testimonials .slider .slide::before{
        content: '';
        left: -15px;
    }
    .client_say .client_say_photo::after{
        content: '';
        border: 30px solid #4042ef;
        width: 180px;
        height: 180px;
    }
    .client_say .client_say_photo::before{
        content: '';
        border: 20px solid #e7601e;
        width: 80px;
        height: 80px;
    }
    #bottom .footer-form .form-group .form-icon{
        width: 37px;
    }
    #bottom .footer-form .form-group .form-control {   
        width: 82%;
    }
    #bottom .footer-form button{
        margin-top: 25px;
    }
}

/* Media Query Responsive */
















